Package: gcodis
Version: 0.99
Architecture: all
Maintainer: Javi Jiménez <javi.jimenez@guifi.net>
Installed-Size: 45
Depends: avahi-utils, tahoe-lafs, avahi-daemon, avahi-autoipd, dbus-x11, geoip-bin, openvpn, inetutils-ping, vim, nano, openssh-server
Section: misc
Priority: optional
Description: Main package for Guifi-Community-Distro
 Install some base dependencies to get the distro running.
 .
 After install the system prepared for experimenting. And to install
 new packages and check the integration of all.
